

<div class="d-none d-md-block">
@{
    Html.RenderPartial("HeroSection/HeroDesktop");
}
</div>
<div class="d-block d-md-none">
    @{
        Html.RenderPartial("HeroSection/HeroMobile");
    }
</div>