<!--Start Hero-->
<section class="hero-card-web p-relative zindex1 d-flex align-items-center background-image-hero">
    <div class="hero-main-rp container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-last order-md-first dir-rtl mt90">
                <div class="hero-heading-sec text-lg-end text-center mt20">
                    <h2 class="wow fadeIn" data-wow-delay="0.3s">تجربه‌ای متفاوت <br />در دنیا طلا و جواهر</h2>
                    <p class="wow fadeIn my-5 page-desc" data-wow-delay="0.6s">
                        با مارکیز، دقت بالا و امنیت بی‌نقص را تجربه کنید.
                        <br />
                        ما اینجا هستیم تا به کسب و کار شما آرامش و اطمینان ببخشیم.
                        <br />
                        <span>در دنیای حساس طلا و جواهر، هیچ اشتباهی قابل جبران نیست!</span>
                    </p>
                    <a href="@Url.RouteUrl("Features")" class="btn-main-hero bg-btn4 lnk pr45 wow fadeIn" data-wow-delay="0.9s">مشاهده<i class="fas fa-chevron-left fa-icon mr15"></i><span class="circle"></span></a>
                </div>
            </div>
            <div class="col-lg-8 order-lg-first order-md-last">
                <div class="hero-right-scmm">
                    <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
                        <div class="owl-carousel service-card-prb">
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/scanner.png">
                                        </div>
                                        <div class="title-serv-c dir-center">استفاده از تکنولوژی <span>RFID</span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/currency.png">
                                        </div>
                                        <div class="title-serv-c dir-center">امکان ثبت سند با <span>چندین ارز متفاوت</span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/chart.png">
                                        </div>
                                        <div class="title-serv-c dir-center">گزارشات مدیریتی متنوع</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/jewelry.png">
                                        </div>
                                        <div class="title-serv-c dir-center">حسابداری همزمان<span>طلا، جواهر، نقره و پلاتین</span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/barcode.png">
                                        </div>
                                        <div class="title-serv-c dir-center"> امکان چاپ اتیکت برای<span>هر کار ساخته با سرعت بالا</span></div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="~/Content/Icons/document.png">
                                        </div>
                                        <div class="title-serv-c dir-center">سهولت و سرعت فوق‌العاده<span>در ثبت اسناد</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Hero-->
