<!--Start Mission Vision-->
<section class="align-items-center dir-rtl d-none d-md-block pt140 pb100 background-image-feature">
    <div class="container-fluid content-feature">
        <div class="row py-2 zindex10 p-relative d-flex">
            <div class="col-lg-8 p-relative box-right mb40 feature-box py-3 d-flex justify-content-end">
                <h2 class="dir-rtl content-box w-75 white-color">
                    حسابداری طلا و جواهر با
                    نرم‌افزار پیشرفته مارکیز
                </h2>
            </div>
            <div class="col-lg-8 p-relative box-left me-auto feature-box mb40 py-5">
                <div class="row content-box w-75">
                    <div class="col-3 d-flex justify-content-end">
                        <div class="card-icon"><img src="~/Content/Icons/vision.png" alt="چشم انداز" class="w80 mb20"></div>
                    </div>
                    <div class="col-9 dir-rtl">
                        <h3 class="mb-3 white-color">چشم‌انداز ما</h3>
                        <p class="text-justify white-color">
                            شرکت ما با هدف شماره یک شدن در صنعت نرم‌افزار حسابداری طلا و جواهر، متعهد به نوآوری، کیفیت و برتری در ارائه محصولات و خدمات حسابداری، حسابرسی و نرم‌افزار است.
                            ما به دنبال ایجاد محیطی هستیم که در آن کارکنان ما بتوانند با انگیزه و خلاقیت به آینده‌ای روشن و پایدار بیاندیشند.
                            ما تمرکز بر رضایت مشتریان و تحول دیجیتال، قصد داریم تا به عنوان رهبر بلامنازع در بازار شناخته شویم و استانداردهای جدیدی در صنعت نرم‌افزار تعیین کنیم.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 py-3 p-relative box-right feature-box py-5 d-flex justify-content-center px-lg-5">
                <div class="row content-box w-75">
                    <div class="col-3 d-flex justify-content-end">
                        <div class="card-icon"><img src="~/Content/Icons/mission.png" alt="اهداف" class="w80 mb20"></div>
                    </div>
                    <div class="col-9 dir-rtl">
                        <h3 class="mb-3 white-color">اهداف ما</h3>
                        <p class="text-justify white-color">
                            ماموریت ما افزایش سهم در بازار زرگری از طریق ارائه راه حل های نرم‌افزاری پیشرفته و مقرون به صرفه است.
                            ما به نیازهای متغیر مشتریان پاسخ میدهیم و به دنبال ارائه راهکارها و محصولاتی هستیم که بهره وری، کارایی و سودآوری کسب و کارها را بهبود بخشند.
                            همچنین، با تمرکز بر نگهداشت مشتریان، ارائه خدمات پشتیبانی با کیفیت و ایجاد ارتباطات بلند مدت و مستحکم با آنها، به دنبال افزایش رضایت و وفاداری مشتریان هستیم.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Mission Vision-->
<!--Start Mission Vision mobile-->
<section class="p-relative align-items-center dir-center d-md-none d-block pt100 pb30 background-image-feature-mobile">
    <div class="container-fluid content-feature">
        <div class="row py-2 zindex10 p-relative d-flex justify-content-center">
            <div class="col-10 mb40 feature-box py-3">
                <h2 class="content-box white-color">
                    حسابداری طلا و جواهر با
                    نرم‌افزار پیشرفته مارکیز
                </h2>
            </div>
            <div class="col-10 feature-box mb40 py-5">
                <div class="row content-box">
                    <div class="card-icon"><img src="~/Content/Icons/vision.png" alt="جشم انداز" class="w80 mb20"></div>
                    <h3 class="mb-3 white-color">چشم انداز ما</h3>
                    <p class="text-justify white-color">
                        شرکت ما با هدف شماره یک شدن در صنعت نرم‌افزار حسابداری طلا و جواهر، متعهد به نوآوری، کیفیت و برتری در ارائه محصولات و خدمات حسابداری، حسابرسی و نرم‌افزاری است.
                        ما به دنبال ایجاد محیطی هستیم که در آن کارکنان ما بتوانند با انگیزه و خلاقیت به آینده ای روشن و پایدار بیاندیشند.
                        ما تمرکز بر رضایت مشتریان و تحول دیجیتال، قصد داریم تا به عنوان رهبر بلامنازع در بازار شناخته شویم و استانداردهای جدیدی در صنعت نرم‌افزار تعیین کنیم.
                    </p>
                </div>
            </div>
            <div class="col-10 py-3 feature-box py-5">
                <div class="row content-box">
                    <div class="card-icon"><img src="~/Content/Icons/mission.png" alt="اهداف" class="w80 mb20"></div>
                    <h3 class="mb-3 white-color">اهداف ما</h3>
                    <p class="text-justify white-color">
                        ماموریت ما افزایش سهم در بازار زرگری از طریق ارائه راه حل های نرم‌افزاری پیشرفته و مقرون به صرفه است.
                        ما به نیازهای متغیر مشتریان پاسخ میدهیم و به دنبال ارائه راهکارها و محصولاتی هستیم که بهره وری، کارایی و سودآوری کسب و کارها را بهبود بخشند.
                        همچنین، با تمرکز بر نگهداشت مشتریان، ارائه خدمات پشتیبانی با کیفیت و ایجاد ارتباطات بلند مدت و مستحکم با آنها، به دنبال افزایش رضایت و وفاداری مشتریان هستیم.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Mission Vision mobile-->
