<!-- who we are about-->
<section class="testinomial-section pt110 pb110">
    <div class="container-fluid px-10">
        <div class="row mb-5">
            <div class="col-lg-6 dir-rtl pt80 d-flex justify-content-center col-sm-12 order-lg-1 order-2">
                <div class="common-heading1 text-lg-end text-center dir-rtl">
                    <span>درباره ما</span>
                    <h3 class="mb30">همه چیز درباره مارکیز</h3>
                    <p class="mb10 font-16 text-justify">اگرچه صاحبان مشاغل طلا و جواهر همیشه جز پیشگامان در این عرصه بصورت تجربی بوده اند ولی با پیشرفت تکنولوژی احساس نیاز به سیستمی شدن این فرآیند بیش از پیش احساس شد که در نتیجه آن تیم مارکیز فعالیت خود را از سال 1379 در این زمینه آغاز و پس از بررسی‌های گسترده در خصوص پیچیدگی های فرآیند حسابداری طلا و جواهر و استفاده از تکنولوژی های بروز برای طراحی نرم‌افزار، محصولات متعددی تولید شد که در نهایت محصول نهایی خود را در قالب نرم‌افزار تخصصی طلا و جواهر با نام تجاری مارکیز در سال 1392 بصورت رسمی روانه بازار کرد.</p>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-6 wow fadeIn" data-wow-delay="0.1s"> <div class="industry-workfor hoshd"><img src="~/Content/Icons/24.png" alt="23 سال تجربه"> <h5>23 سال تجربه</h5> </div></div>
                        <div class="col-lg-6 col-sm-6 col-6 wow fadeIn" data-wow-delay="0.3s"> <div class="industry-workfor hoshd"><img src="~/Content/Icons/feedback.png" alt="1000 مشتری فعال"> <h5>1000 مشتری فعال</h5> </div></div>
                        <div class="col-lg-6 col-sm-6 col-6 wow fadeIn" data-wow-delay="0.5s"> <div class="industry-workfor hoshd"><img src="~/Content/Icons/customerservice.png" alt="5000 پشتیبانی موفق"> <h5>5000 پشتیبانی موفق</h5> </div></div>
                        <div class="col-lg-6 col-sm-6 col-6 wow fadeIn" data-wow-delay="0.7s"> <div class="industry-workfor hoshd"><img src="~/Content/Icons/confusion.png" alt="535 مشاوره تخصصی"> <h5>535 مشاوره تخصصی</h5> </div></div>
                    </div>

                    <div class="d-flex mt70 row justify-content-center">
                        <div class="cta-card textc mt10 d-flex justify-content-center">
                            <h5>تجربه همیشه <span class="text-second text-bold">بهترین انتخاب </span> را <br class="d-lg-none d-md-none"/>در پی دارد.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 order-lg-2 order-1">
                <div class="img-design h-scl-">
                    <div class="imgac "> <img src="~/Content/Images/creative-ag2a.jpg" alt="درباره ما" class="ag-dg1 img-fluid h-scl-base"></div>
                    <div class="imgac h-scl-base"><img src="~/Content/Images/creative-ag2b.jpg" alt="درباره ما" class="ag-dg2 img-fluid "></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- who we are about-->
