<!--Start Best Software-->
<section class="why-choos-lg pt120 pb80" id="whywe">
    <div class="container-fluid px-lg-5 pb60 pt50">
        <div class="row">
            <div class="col-lg-6 px-5">
                <img class="img-fluid" src="~/Content/Images/soft1.webp" alt="محیط نرم‌افزار"/>
            </div>

            <div class="col-lg-6 dir-rtl">
                <div class="common-heading text-l">
                    <span>نرم‌افزارها</span>
                    <h3 class="pb50">پرفروش‌ترین نرم‌افزار مارکیز <span class="text-second text-bold">نرم‌افزار فروشگاهی</span></h3>
                    <p class="font-16">
                        در نرم‌افزار فروشگاهی امکان فروش کالا با بارکد برای کاربر فراهم می باشد.
                        همانطور که از نام نرم‌افزار پیداست سهولت در ثبت فاکتور فروش بدون مراجعه به بخش صدور فاکتور و انتخاب کارساخته و نسبت دادن اجرت های مربوطه به کالا از مزیت های نرم‌افزار می باشد.
                    </p>
                    <div class="itm-media-object mt40 tilt-3d">
                        <div class="accordion dir-rtl" id="accordionExample-a">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading-b">
                                    <button class="accordion-button collapsed justify-content-between" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-1a" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                <img src="~/Content/Icons/quick shopping.png" alt="فروش سریع" class="layer h40">
                                            </div>
                                            <h6>فروش سریع</h6>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse-1a" class="accordion-collapse collapse" aria-labelledby="heading-b"
                                     data-bs-parent="#accordionExample-a">
                                    <div class="accordion-body py-4">
                                        <div class="data-reqs">
                                            <p class="font-15">
                                                با استفاده از دسترسی فروش سریع تمامی فروشندگان شما میتوانند فقط با اسکن بارکد و یا وارد کردن کد محصول تمامی مشخصات کالا را داشته باشند و در سریع ترین زمان ممکن فروش را ثبت کنند.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading-c">
                                    <button class="accordion-button collapsed justify-content-between" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-2a" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                <img src="~/Content/Icons/warehouse.png" alt="انبارگردانی" class="layer h40">
                                            </div>
                                            <h6>انبارگردانی</h6>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse-2a" class="accordion-collapse collapse" aria-labelledby="heading-c"
                                     data-bs-parent="#accordionExample-a">
                                    <div class="accordion-body py-4">
                                        <div class="data-reqs">
                                            <p class="font-15">
                                                با توجه به طراحی خزانه در مارکیز شما می توانید محصولات خود را در ویترین های مختلف ثبت کنید و در زمان انبارگردانی به راحتی موجودی فیزیکی هر ویترین را با توجه به داده سیستمی همان ویترین مقایسه و بررسی کنید.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-none d-lg-flex flex-row justify-content-center mt80">
                            <div class="v-center dir-center col-lg-8">
                                <h4>رضایت مشتری و راحتی فروش <span class="text-second text-bold">با فروش سریع مارکیز</span></h4>
                            </div>
                            <div class="d-flex justify-content-start col-lg-4 col-sm-12 mt-md-5 mt-lg-0">
                                <a href="@Url.RouteUrl("Softwares")" class="btn-main btn bg-btn5 lnk white-color mx-3">
                                    <i class="fa-solid fa-phone-flip"></i>
                                    مشاهده نرم‌افزار<span class="circle"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row d-md-flex d-lg-none flex-row justify-content-center mt80">
                            <div class="v-center dir-center col-md-12">
                                <h4>رضایت مشتری و راحتی فروش <span class="text-second text-bold">با فروش سریع مارکیز</span></h4>
                            </div>
                            <div class="d-flex justify-content-center col-md-12 mt-3">
                                <a href="@Url.RouteUrl("Softwares")" class="btn-main btn bg-btn5 lnk white-color mx-3">
                                    <i class="fa-solid fa-phone-flip"></i>
                                    مشاهده نرم‌افزار<span class="circle"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Best Software-->
