<!--Snapp-->
<section class="case-study pt50 pb30 bg-gradient4">
    <div class="container-fluid px-10">
        <div class="row mt50 mb90">
            <div class="col-lg-6">
                <div class="image-block upset d-flex justify-content-center">
                    <img src="~/Content/Icons/snapppay.png" alt="اسنپ" class="img-fluid no-shadow" />
                </div>
            </div>
            <div class="col-lg-6 block-1 v-center">
                <div class="common-heading inner-heading text-l pl25">
                    <span>جدیدترین ویژگی مارکیز</span>
                    <h4>امکان اتصال مارکیز به <a href="https://snapppay.ir/">سرویس اعتباری اسنپ</a></h4>
                    <p class="mb30 dir-rtl-0 font-14">با توجه به افزایش درخواست خرید طلا و جواهر و ثبت سیستمی آن از طریق سرویس اعتباری اسنپ، مارکیز این قابلیت را فراهم آورده است تا طلافروشان بتوانند با استفاده از این افزونه به راحتی اقلام خود را در این سرویس ارائه دهند.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Snapp-->
