
@{
    ViewBag.Title = "Detail";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-2">تیکت</h5>
                        <div class="row m-0 row-group text-center border border-light-3">
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">شماره تیکت</h5>
                                    <small class="mb-0">0010089</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">موضوع</h5>
                                    <small class="mb-0">باز نشدن محیط</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">وضعیت</h5>
                                    <small class="mb-0">بسته</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">تاریخ</h5>
                                    <small class="mb-0">1403.10.11</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">کارشناس</h5>
                                    <small class="mb-0">مهسا هوشنگی</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="p-3">
                                    <h5 class="mb-0">مهلت زمانی</h5>
                                    <small class="mb-0">1 روز و 4 ساعت</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-row mt-4 mb-4 d-flex justify-content-center">
                    <div class="col-lg-6 d-flex flex-row">
                        <div class="form-group mb-0 col-6">
                            <button type="button" class="btn btn-light btn-block">
                                ارسال پاسخ
                                <i class="zmdi zmdi-mail-reply"></i>
                            </button>
                        </div>
                        <div class="form-group mb-0 col-6 text-right">
                            <button type="button" class="btn btn-light btn-block">
                                بستن تیکت
                                <i class="zmdi zmdi-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-2">گالری تاج</h5>
                        <hr />
                        <div class="row">
                            <p>
                                با سلام واحترام
                                <br />
                                طبق تماس تلفنی انجام شده توضیحات بیشتر سوال در ادامه ذکر شده است.
                                <br />
                                من میخوام از طریقAPI زمانی که Id یک مشتری رو دارم لیست تمام پیش فاکتور ها و یا بخش های دیگه رو خروجی بگیرم که مربوط به حساب این شخص است (one to many) به عبارت دیگر خروجی ارتباط یک به چند دیتابیس.

                                و از طرفی میخوام لیست مرتبط یک پیش فاکتور رو داشته باشم یعنی با داشتن یک شماره پیش فاکتور بتونم لیست محصولاتی که توی این پیش فاکتور ثبت شده رو داشته باشم.

                                لطفا بررسی لازم در این خصوص را مبذول بفرمایید.
                                <br />
                                با سپاس فراوان
                            </p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-2">مارکیز</h5>
                        <hr />
                        <div class="row">
                            <p>
                                کاربر گرامی،  خانم موسوی
                                <br />
                                با سلام و احترام
                                <br />
                                لطفا برای پیدا کردن پاسخ سوال خود و یا روش رفع اشکال مطرح شده، به لینک های زیر مراجعه کنید. در نظر داشته باشید در پایگاه دانش دانا، مطالب مختلفی شامل راهنما، روش انجام کارها و روش های رفع اشکال وجود دارد.
                                <br />
                                در صورتی که به کمک پایگاه دانش موفق به رفع نیاز خود نشدید، لطفا به طور دقیق سوال و یا اشکال خود را شرح دهید تا شما را راهنمایی کنم.
                                <br />
                                باتشکر
                            </p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-2">گالری تاج</h5>
                        <hr />
                        <div class="row">
                            <p>
                                با سلام و احترام
                                <br />
                                خواهشمند است بررسی لازم جهت ارسال روش خروجی API برای محصولات یک پیش فاکتور را ارسال بفرمایید.

                                در صورت نیاز به تماس با شماره 09333801631 خانم بابایی تماس بگیرید.
                                <br />
                                با سپاس
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->
</div>


