
@{
    ViewBag.Title = "NewTicket";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}


<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">تیکت</div>
                        <hr>
                        <form id="new-ticket-form" class="shake" onsubmit="return handleNewTicketFormSubmit(event);" novalidate>
                            <div class="form-group">
                                <label for="input-2">موضوع</label>
                                <input type="text" class="form-control" id="title" placeholder="موضوع مورد نظر را وارد کنید.">
                                <div id="title-error" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="input-3">توضیحات</label>
                                <textarea type="text" class="form-control" id="description" placeholder="توضیحات خود را وارد کنید." rows="10"></textarea>
                                <div id="description-error" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block ml-lg-3">
                                    ثبت
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/areas//CRM/Scripts/CRM/Ticket.js"></script>
}