
@{
    ViewBag.Title = "NewTicket";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}


<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">تیکت</div>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="input-1">انتخاب بخش مربوطه</label>
                                <input type="text" class="form-control" id="input-1" placeholder="بخش">
                            </div>
                            <div class="form-group">
                                <label for="input-2">موضوع</label>
                                <input type="text" class="form-control" id="input-2" placeholder="موضوع مورد نظر را وارد کنید.">
                            </div>
                            <div class="form-group">
                                <label for="input-3">توضیحات</label>
                                <textarea type="text" class="form-control" id="input-3" placeholder="توضیحات خود را وارد کنید." rows="10"></textarea>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
