<section class="blog-page pad-tb dir-rtl testinomial-section">
    <div class="container-fluid px-10">
        <div class="row d-flex justify-content-center">
            <!--Start Sidebar-->
            <div class="col-lg-10">
                <table class="custom-table dir-rtl w-100">
                    <thead>
                        <tr class="custom-tr">
                            <th class="custom-th cd14 text-center">ردیف</th>
                            <th class="custom-th cd14 text-center">خدمات</th>
                            <th class="custom-th cd14 text-center">زمان</th>
                            <th class="custom-th cd14 text-center">هزینه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">1</td>
                            <td class="custom-td"><strong>استقرار</strong></td>
                            <td class="custom-td text-center">1 جلسه</td>
                            <td class="custom-td text-center">800.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">2</td>
                            <td class="custom-td"><strong>حضور کارشناس</strong></td>
                            <td class="custom-td text-center">1 ساعت</td>
                            <td class="custom-td text-center">600.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">3</td>
                            <td class="custom-td"><strong>آموزش تک جلسه آنلاین</strong></td>
                            <td class="custom-td text-center">1 ساعت</td>
                            <td class="custom-td text-center">600.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">4</td>
                            <td class="custom-td"><strong>پشتیبانی اینترنتی</strong></td>
                            <td class="custom-td text-center">3 ماهه</td>
                            <td class="custom-td text-center">2.400.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">5</td>
                            <td class="custom-td"><strong>حسابرسی</strong></td>
                            <td class="custom-td text-center">برای هر ماه</td>
                            <td class="custom-td text-center">1.500.000 تومان</td>
                        </tr>

                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">6</td>
                            <td class="custom-td"><strong>گزارش ارزش‌افزوده</strong></td>
                            <td class="custom-td text-center">برای هر ماه</td>
                            <td class="custom-td text-center">700.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">7</td>
                            <td class="custom-td"><strong>تراز</strong></td>
                            <td class="custom-td text-center">برای هر ماه</td>
                            <td class="custom-td text-center">900.000 تومان</td>
                        </tr>
                        <tr class="custom-tr">
                            <td class="custom-td cd13 text-center">8</td>
                            <td class="custom-td"><strong>نصب مجدد برنامه و خدمات سیستمی</strong></td>
                            <td class="custom-td text-center">---</td>
                            <td class="custom-td text-center">1.000.000 تومان</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
