
<section class="blog-page pt50 dir-rtl" id="category4">
    <div class="container-fluid">
        <div class="row">
            <div class="dir-rtl pt20">
                <div class="row d-flex justify-content-start">
                    <div class="col-lg-12">
                        <div class="email-subs-form p-3 title-border">
                            <h3>گزارشات</h3>
                        </div>
                    </div>
                </div>
                <div class="row pb100">
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".2s">
                            <div class="item-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform41">
                                    <div  class="video-card d-flex flex-column">
                                        <div class="review-vid-details dir-center d-flex justify-content-center">
                                            <div class="-vid-ico"><i class="fas fa-play video-icon"></i></div>
                                        </div>
                                        <img src="~/Content/Images/wave-cd3.png" class="wave-bg h-auto">
                                        <div class="item-info blog-info zindex10">
                                            <p class="font-15">ته حساب</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="popup-modals">
                                    <div class="modal fade" id="modalform41" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="common-heading">
                                                        <h6 class="mt0 mb0">ته حساب</h6>
                                                    </div>
                                                    <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-block fdgn2 mt10 mb10">
                                                        <div id="68296837009">
                                                            <script type="text/JavaScript" id="videoScript" src="https://www.aparat.com/embed/g26f83y?data[rnddiv]=68296837009&data[responsive]=yes&recom=self"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".4s">
                            <div class="item-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform42">
                                    <div  class="video-card d-flex flex-column">
                                        <div class="review-vid-details dir-center d-flex justify-content-center">
                                            <div class="-vid-ico"><i class="fas fa-play video-icon"></i></div>
                                        </div>
                                        <img src="~/Content/Images/wave-cd3.png" class="wave-bg h-auto">
                                        <div class="item-info blog-info zindex10">
                                            <p class="font-15">ریز حساب پیشرفته</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="popup-modals">
                                    <div class="modal fade" id="modalform42" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="common-heading">
                                                        <h6 class="mt0 mb0">ریز حساب پیشرفته</h6>
                                                    </div>
                                                    <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-block fdgn2 mt10 mb10">
                                                        <div id="28842350697">
                                                            <script type="text/JavaScript" id="videoScript" src="https://www.aparat.com/embed/u85fj3u?data[rnddiv]=28842350697&data[responsive]=yes&recom=self"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".6s">
                            <div class="item-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform43">
                                    <div  class="video-card d-flex flex-column">
                                        <div class="review-vid-details dir-center d-flex justify-content-center">
                                            <div class="-vid-ico"><i class="fas fa-play video-icon"></i></div>
                                        </div>
                                        <img src="~/Content/Images/wave-cd3.png" class="wave-bg h-auto">
                                        <div class="item-info blog-info zindex10">
                                            <p class="font-15">ریز حساب متوسط</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="popup-modals">
                                    <div class="modal fade" id="modalform43" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="common-heading">
                                                        <h6 class="mt0 mb0">ریز حساب متوسط</h6>
                                                    </div>
                                                    <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-block fdgn2 mt10 mb10">
                                                        <div id="82295434655">
                                                            <script type="text/JavaScript" id="videoScript" src="https://www.aparat.com/embed/l607h1l?data[rnddiv]=82295434655&data[responsive]=yes&recom=self"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".8s">
                            <div class="item-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform44">
                                    <div  class="video-card d-flex flex-column">
                                        <div class="review-vid-details dir-center d-flex justify-content-center">
                                            <div class="-vid-ico"><i class="fas fa-play video-icon"></i></div>
                                        </div>
                                        <img src="~/Content/Images/wave-cd3.png" class="wave-bg h-auto">
                                        <div class="item-info blog-info zindex10">
                                            <p class="font-15">ریز حساب مقدماتی</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="popup-modals">
                                    <div class="modal fade" id="modalform44" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="common-heading">
                                                        <h6 class="mt0 mb0">ریز حساب مقدماتی</h6>
                                                    </div>
                                                    <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-block fdgn2 mt10 mb10">
                                                        <div id="83989117867">
                                                            <script type="text/JavaScript" id="videoScript" src="https://www.aparat.com/embed/u49twg2?data[rnddiv]=83989117867&data[responsive]=yes&recom=self"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay="1s">
                            <div class="item-image">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform45">
                                    <div  class="video-card d-flex flex-column">
                                        <div class="review-vid-details dir-center d-flex justify-content-center">
                                            <div class="-vid-ico"><i class="fas fa-play video-icon"></i></div>
                                        </div>
                                        <img src="~/Content/Images/wave-cd3.png" class="wave-bg h-auto">
                                        <div class="item-info blog-info zindex10">
                                            <p class="font-15">صندوق</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="popup-modals">
                                    <div class="modal fade" id="modalform45" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="common-heading">
                                                        <h6 class="mt0 mb0">صندوق</h6>
                                                    </div>
                                                    <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-block fdgn2 mt10 mb10">
                                                        <div id="54703288471">
                                                            <script type="text/JavaScript" id="videoScript" src="https://www.aparat.com/embed/d899iz5?data[rnddiv]=54703288471&data[responsive]=yes&recom=self"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

