<!--Start About Features-->
<section class="about-agencys pad-tb block-1 dir-rtl question-sec-app">
    <div class="overlay-feature"></div>
    <div class="container-fluid px-15 content-feature">
        <div class="row justify-content-center niwaxgap40 mt80">
            <div class="accordion special-accordion dir-center" id="accordionExample-a">
                <div class="accordion-item">
                    <h2 class="accordion-header dir-center" id="heading-b">
                        <button class="accordion-button collapsed d-flex justify-content-center border-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1a" aria-expanded="true" aria-controls="collapseOne">
                            <div class="img-ab- d-flex justify-content-center base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                <div class="d-flex justify-content-center flex-column w-50">
                                    <img src="~/Content/Icons/question/question1.png" alt="Question" class="img-fluid-question" />
                                    <h3>ثبت اسناد</h3>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-1a" class="accordion-collapse collapse" aria-labelledby="heading-b"
                         data-bs-parent="#accordionExample-a">
                        <div class="accordion-body py-4">
                            <div class="data-reqs d-flex justify-content-center">
                                <div class="col-lg-10 order-lg-1 order-md-1 v-center">
                                    <div class="common-heading text-l">
                                        <div class="career-card-div">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                ثبت سند با حواله به چه صورت است؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-1" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    ثبت سند حواله زمانی اتفاق می‌افتد که بخواهیم همزمان با ثبت "ورود یا خروج" آن سند را نیز ثبت کنیم یا بلعکس. بدین صورت که ردیف سند مورد نظر را ثبت می‌کنیم و از قسمت سمت راست گزینه حواله را انتخاب کرده و در قسمت گیرنده حواله طرف دوم سندمان را انتخاب می‌کنیم. دقت داشته باشید که نام شخص گیرنده حواله باید حتما در سیستم ذخیره شده‌باشد یا اینکه در همان لحظه ثبت گردد.

                                                                    از موارد پرکاربرد که از سند حواله می‌توان استفاده کرد می‌توان به سندهای "هزینه" اشاره کرد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                صدور سند فروش سریع مرجوعی خرده به چه صورت است؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-2" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای ثبت سند مرجوعی باید پنجره فروش سریع را باز کرده و از منوی کشویی که در سمت راست قرار دارد گزینه "فروش" را به "برگشت از فروش" تغییر داده و سپس کد شخصی کالای مورد نظر را وارد نماییم. اطلاعات کالای مورد نظر طبق همان اطلاعاتی که فروش بر اساس آن انجام شده برای ما نمایش داده شده و با گزینه "تائید" نیز نام همان مشتری که کالا به وی فروخته شده برای ما نشان داده می‌شود.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                ثبت صدور سند کار ساخته اجرتی چگونه است؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-3" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای ثبت کارساخته ابتدا بخش "صدور فاکتور" را از منوی پایینی انتخاب کرده، سپس سومین مورد یعنی "کارساخته" را در گزینه‌های انتخاب نموده و از منوی کشویی گزینه "اجرتی" را انتخاب می‌نماییم. اکنون می توان در باکس روبروی اجرت هم اجرت ریالی و هم اجرت درصدی را وارد نموده و سپس با تائید ردیف و فشرن کلید ذخیره، سند مورد نظر را ثبت نمائید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                ثبت سند موقت چگونه است؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-4" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    فاکتور موقت در حقیقت همان پیش فاکتور است که قبل از تائید نهایی و تسویه توسط طرف حساب ما صورت می‌پذیرد. برای ثبت اسناد بصورت موقت کافیست بجای فشردن دکمه ذخیره، دکمه موقت را فشرده و سند مورد را بصورت موقت در بیاوریم. برای مشاهده اسناد موقت کافیست در قسمت "دسترسی سریع" در صفحه اصلی برنامه کلیک نموده و گزینه "فاکتورهای موقت" را فعال نمائید. بدین شکل لیست اسناد موقت شما در قسمت پائینی سمت چپ برنامه قابل مشاهده است. لازم به ذکر است اسناد ثبت شده از طریق فروش سریع (چه اسناد فروش و چه اسناد برگشت از فروش) بصورت پیش فرض به شکل فاکتور موقت در سیستم ثبت می‌گردند.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه سند متفرقه ثبت کنیم؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-6" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای ثبت سند متفرقه ابتدا باید در قسمت صدور فاکتور گزینه متفرقه را انتخاب نمائیم سپس در در قسمت نام دسته بندی کالای متفرقه (که به عنوان مثال متفرقه 740 و یا متفرقه 750 است) را تایپ نمائیم. توجه به این نکته ضروری است که فیلد عیار باید متناسب با نام متفرقه تکمیل شده باشد. در قسمت وزن، وزن روی ترازو را وارد می‌نمائیم و اگر می‌خواهیم ثبت سند متفرقه همراه با تبدیل(خرید و فروش) باشد در قسمت قیمت، مبلغ نهایی متفرقه مورد نظر را وارد نموده و "ردیف" را تائید کنید. اگر فیلد قسمت تکمیل نگردد فقط ثبت سند ما بصورت ورود و یا خروج صورت می‌پذیرد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-8" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                پس از مشخص شدن عیار آبشده شرطی چگونه عیار را در سیستم ثبت کنیم؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-8" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    کافیست در منوی مدیریت گزینه آبشده شرطی را انتخاب کرده و از لیست آبشده های شرطی، آبشده مورد نظر را انتخاب کرده و با کلیک بر روی گزینه تعیین عیار، عیار مشخص شده را برای آن ثبت نمائید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-9" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه سند حذف شده را ببینیم؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-9" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    تمامی اسناد حذف یا ویرایش شده در بخش تاریخچه قابل مشاهده می‌باشد. کافیست در قسمت "مدیریت" برروی گزینه تاریخچه کلیک کرده و بر اساس پارامتر مورد نظر، تغییرات اعمال شده را مشاهده نمائید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-16" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                آیا می‌توان تاریخ سند حواله را تغییر داد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-16" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    بله، با توجه به سطح دسترسی اختصاص داده شده به هر کاربر این کار امکان پذیر می‌باشد. برای انجام این کار باید در قسمت سمت چپ صدور فاکتور تاریخ سند را تغییر دهید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-17" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                ویرایش اسناد به چه صورت است؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-17" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای ویرایش فاکتور باید در دفتر روزنامه و یا ریز حساب بر روی سند مورد نظر کلیک راست نموده و گزینه ویرایش فاکتور را انتخاب کنید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-18" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                هنگام بروز خطا کد تکراریدر دریافت فایل فاکتور چه باید کرد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-18" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    هنگام مواجهه با این خطا باید کد شخصی که باعث بروز این خطا شده است را شناسایی کرده و در قسمت جستجو در مارکیز تاریخچه مربوط به آن کد شخصی را بررسی کنید و از دفتر مرکزی بخواهید نسبت به تغییر کد مربوطه اقدام نماید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center niwaxgap40 mt80">
            <div class="accordion special-accordion dir-center" id="accordionExample-a">
                <div class="accordion-item">
                    <h2 class="accordion-header dir-center" id="heading-b">
                        <button class="accordion-button collapsed d-flex justify-content-center border-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2a" aria-expanded="true" aria-controls="collapseOne">
                            <div class="img-ab- d-flex justify-content-center base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                <div class="d-flex justify-content-center flex-column w-50">
                                    <img src="~/Content/Icons/question/question2.png" alt="Question" class="img-fluid-question" />
                                    <h3>گزارش و بررسی</h3>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-2a" class="accordion-collapse collapse" aria-labelledby="heading-b"
                         data-bs-parent="#accordionExample-a">
                        <div class="accordion-body py-4">
                            <div class="data-reqs d-flex justify-content-center">
                                <div class="col-lg-10 order-lg-1 order-md-1">
                                    <div class="common-heading text-l">
                                        <div class="career-card-div">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه می‌شود موجودی صندوق را مشاهده کرد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-5" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای مشاهده موجودی اقلام مختلف در صندوق کافیست در قسمت گزارشات بر روی دکمه "صندوق" کلیک نمائید. سپس کالای مورد نظر را در لیست انتخاب نموده و با فشردن کلید تائید موجودی آن را مشاهده نمائید. لازم به ذکر است که مشاهده موجودی‌ها فقط برای کاربرانی فعال است که سطح دسترسی برای مشاهده صندوق برای آنها از سمت مدیر سیستم فعال گردیده باشد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-7" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه مانده حساب را در نرم افزار ببینیم؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-7" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای مشاهده مانده حساب کافیست پنجره مربوط به ریز حساب را باز کرده و نام شخص مورد نظر را جستجو نمائید. در قسمت پائینی پنجره باز شده باکسی نمایش داده می‌شود که مانده حساب شخص مورد نظر را به تفکیک واحدهای مختلف نمایش می‌دهد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-10" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                تفاوت ترازدارایی با تراز کامل چیست؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-10" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    تراز دارایی شامل تمام اقلام موجود در صندوق با توجه به مظنه روز جاری و همچنین تمام مانده حساب های موجود در سیستم می‌‌باشد. اما در تراز کامل علاوه بر موارد قابل مشاهده در تراز دارایی یک ردیف به عنوان سود و زیان وجود دارد که می‌توان به لحظه سود و یا زیان محقق شده تا تاریخ مورد نظر را مشاهده کرد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-11" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                علت اختلاف موجودی فیزیکی با موجودی سیستم چیست؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-11" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    یکی از مهم ترین علت هایی که باعث مغایرت موجودی فیزیکی با موجودی نمایش داده شده در سیستم می‌گردد ثبت اشتباه یا ناقص اسناد می‌باشد. که باید برای رفع آن تمامی سندها از تاریخ شروع مغایرت مجددا بررسی گردد.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-12" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه می‌توان گزارش فروش تهیه کرد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-12" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای تهیه گزارش فروش باید در منوی گزارشات برروی دفتر روزنامه (کلید میانبر F9) کلیک کنید و با اعمال فیلتر‌های مربوطه به گزارش مورد نظر دست یابید. برای سهولت در انجام این کار تعدادی گزارش از پیش تعریف شده در سیستم بصورت پیش‌فرض وجود دارد که می توان از آنها کمک گرفت.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center niwaxgap40 mt80">
            <div class="accordion special-accordion dir-center" id="accordionExample-a">
                <div class="accordion-item">
                    <h2 class="accordion-header dir-center" id="heading-b">
                        <button class="accordion-button collapsed d-flex justify-content-center border-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3a" aria-expanded="true" aria-controls="collapseOne">
                            <div class="img-ab- d-flex justify-content-center base" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                <div class="d-flex justify-content-center flex-column w-50">
                                    <img src="~/Content/Icons/question/question3.png" alt="Question" class="img-fluid-question" />
                                    <h3>تنظیمات نرم‌افزار</h3>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-3a" class="accordion-collapse collapse" aria-labelledby="heading-b"
                         data-bs-parent="#accordionExample-a">
                        <div class="accordion-body py-4">
                            <div class="data-reqs d-flex justify-content-center">
                                <div class="col-lg-10 order-lg-1 order-md-1">
                                    <div class="common-heading text-l">
                                        <div class="career-card-div">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-13" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه در زمان تعریف کالا می‌توان به آن عکس اختصاص داد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-13" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای اختصاص عکس به کالای مورد نظر باید زمان تعریف کالا در باکس مربوط به عکس در سمت چپ یا عکس را از بین عکس‌های موجود در سیستم انتخاب کنید و آن را الصاق کنید و یا از طریق وبکم متصل به سیستم در همان لحظه از آن عکس تهیه کرده و به کالای مورد نظر اضافه کنید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-14" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه ترازو را در نرم‌افزار فعال کنیم؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-14" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    برای اتصال ترازو به سیستم ابتدا ارتباط بین ترازو و سیستم را از طریق کابل مربوطه برقرار کنید. سپس با تماس با دفتر پشتیبانی مارکیز تنظیمات مورد نظر بر روی سیستم اعمال گردیده و از آن پس می‌توان با فشردن کلید Insert  برروی کیبورد وزن کالای مربوطه را به سیستم انتقال دهید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-15" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                چگونه می‌توان برای کاربران سطح دسترسی ایجاد کرد؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-15" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    ایجاد سطح دسترسی کاربران مختلف توسط مدیر سیستم امکان‌‌پذیر می‌باشد. بدین صورت که در قسمت مدیریت و در بخش کاربران، کاربر مورد نظر را انتخاب نموده و با کلیک بر روی گزینه سطح دسترسی، سطح دسترسی‌های مورد نظر را به هر کاربر مربوطه اختصاص دهید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-19" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                علت باز نشدن برنامه چیست؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-19" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    قبل از اجرای برنامه حتما از اتصال قفل برنامه به سیستم مطمئن شوید. همچنین سرور را بررسی کرده تا از وصل بودن سرور و ارتباط سیستم با سرور نیز اطمینان حاصل کرده باشید.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-20" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                علت ذخیره نشدن بک آپ چیست؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-20" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p class="p-justify-custom">
                                                                    مسیر فایلی که به بک اپ داده‌اید فضای خالی ندارد . حتما درایو‌های سیستم را چک کنید و فضای آن را خالی کنید تا فایل بک اپ در سیستم ذخیره شود.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button dir-rtl collapsed" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#collapse-21" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                                    <img src="~/Content/Icons/question-mark.png" alt="icon" class="layer h40">
                                                                </div>
                                                                سیستم مورد نیاز برای نصب برنامه چیست؟
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse-21" class="accordion-collapse collapse b-right-dotted" aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="data-reqs">
                                                                <p>
                                                                    حداقل سیستم مورد نیاز برای نصب برنامه با مشخصات زیر می باشد:
                                                                    <br />
                                                                    Cpu : core i3 6th gen
                                                                    <br />
                                                                    Ram: 8 gig
                                                                    <br />
                                                                    HDD : SSD 256gb
                                                                    <br />
                                                                    Windows: Windows 10 enterprise
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Features-->