<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SiteDataEntities" connectionString="metadata=res://*/SiteData.csdl|res://*/SiteData.ssdl|res://*/SiteData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.88.154.174,1433;initial catalog=gbpcom_Marquise_Web;persist security info=True;user id=gbpcom_marquis2;password=a#B13C@a87lJuG;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>