
@{
    ViewBag.Title = "Index";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title pb-2">لیست پیش فاکتورها</h5>
                        <div class="table-responsive">
                            <table class="table font-14">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">نام</th>
                                        <th scope="col">تاریخ</th>
                                        <th scope="col">مبلغ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>پشتیبانی فصلی</td>
                                        <td>1404.01.01</td>
                                        <td>25000000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>پشتیبانی فصلی</td>
                                        <td>1404.01.01</td>
                                        <td>25000000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>پشتیبانی فصلی</td>
                                        <td>1404.01.01</td>
                                        <td>25000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title pb-2">پشتیبانی فصلی</h5>
                        <div class="row m-0 row-group text-center border border-light-3">
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">مسئول خرید</h5>
                                    <small class="mb-0">خانم بابایی</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">تاریخ ثبت</h5>
                                    <small class="mb-0">1404.01.01</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">نوع پیش فاکتور</h5>
                                    <small class="mb-0">خدمات</small>
                                </div>
                            </div>
                        </div>

                        <h6 class="card-title pt-5 pb-2">لیست خدمات</h6>
                        <div class="table-responsive">
                            <table class="table font-14">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">نام</th>
                                        <th scope="col">قیمت لیست</th>
                                        <th scope="col">تعداد</th>
                                        <th scope="col">تخفیف</th>
                                        <th scope="col">مالیات</th>
                                        <th scope="col">مبلغ نهایی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>پشتیبانی فصلی اینترنتی</td>
                                        <td>36000000</td>
                                        <td>1</td>
                                        <td>12000000</td>
                                        <td>0</td>
                                        <td>24000000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>حسابرسی ماهیانه</td>
                                        <td>13000000</td>
                                        <td>3</td>
                                        <td>4000000</td>
                                        <td>0</td>
                                        <td>27000000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h6 class="card-title pt-5 pb-2">مجموع مبالغ</h6>
                        <div class="row m-0 row-group text-center border border-light-3">
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">جمع کل محصولات</h5>
                                    <small class="mb-0">75000000</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">مجموع تخفیف</h5>
                                    <small class="mb-0">24000000</small>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="p-3">
                                    <h5 class="mb-0">مبلغ نهایی</h5>
                                    <small class="mb-0">51000000</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->
</div>


