<footer class="footer mt-auto mx-auto ">
    <div class="container">
        <div class="text-center font-12">
            <p>
                کلیه حقوق مادی و معنوی این وب سایت متعلق به <a href="@Url.RouteUrl("Index")" target="blank">
                    آتیه پردازان نگاه نو
                </a>
                می باشد.
            </p>
        </div>
    </div>
</footer>