<section class="pad-tb softwate-sec-app">
    <div class="overlay-feature"></div>
    <div class="container-fluid px-lg-5 content-software">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 mt60 mt-md-5 mt-sm-5">
                <div class="row dir-rtl">
                    <div class="col-lg-3">
                        <div class="contact-details p-relative zindex10 contact-box pt-0">
                            <div class="info-wrapr">
                                <ul class="nav nav-tabs d-flex flex-column dir-rtl" id="myTab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link hover-border" id="first-tab" data-bs-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                    <img src="~/Content/Icons/soft1.png" alt="نرم‌افزار فروشگاهی" class="layer h40">
                                                </div>
                                                <h6>نرم‌افزار فروشگاهی</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link hover-border pt-3" id="second-tab" data-bs-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                    <img src="~/Content/Icons/soft2.png" alt="نرم‌افزار پایه" class="layer h40">
                                                </div>
                                                <h6>نرم‌افزار پایه</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link hover-border pt-3" id="third-tab" data-bs-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                    <img src="~/Content/Icons/soft3.png" alt="نرم‌افزار کارگاهی" class="layer h40">
                                                </div>
                                                <h6>نرم‌افزار کارگاهی</h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link hover-border pt-3" id="fourth-tab" data-bs-toggle="tab" href="#fourth" role="tab" aria-controls="fourth" aria-selected="false">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="img-ab- base ml20" data-tilt data-tilt-max="20" data-tilt-speed="1000">
                                                    <img src="~/Content/Icons/soft4.png" alt="مارکیز وب" class="layer h40">
                                                </div>
                                                <h6>مارکیز وب</h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content" id="myTabContent1">
                            <!--Start 1-->
                            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                <section class="shop-products-prvw pb60">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 dir-rtl">
                                                <div class="rpb-item-info">
                                                    <div class="tab-17 tabs-layout">
                                                        <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="tab11a" data-bs-toggle="tab" href="#tab11" role="tab" aria-controls="tab11" aria-selected="true">توضیحات</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab12b" data-bs-toggle="tab" href="#tab12" role="tab" aria-controls="tab12" aria-selected="false">نگاهی دقیق</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab13c" data-bs-toggle="tab" href="#tab13" role="tab" aria-controls="tab13" aria-selected="false">سیستم مورد نیاز</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="myTabContent2">
                                                            <div class="mt40 tab-pane fade show active px-3" id="tab11" role="tabpanel" aria-labelledby="tab1a">

                                                                <h4 class="mb10">توضیحات</h4>
                                                                <p class="mb30 text-justify">
                                                                    همانطور که از نام نرم‌افزار پیداست سهولت در ثبت فاکتور فروش بدون مراجعه به بخش صدور فاکتور و انتخاب کارساخته و نسبت دادن اجرت های مربوطه به کالا از مزیت های نرم‌افزار می‌باشد. در واقع تمام محاسبات مربوط به فروش کارساخته در این قسمت فقط با استفاده از یک بارکد انجام می شود و محدودیت کاربران را برای ایجاد پیچیدگی‌‌های محاسباتی از بین میبرد. زیرا با حذف ماشین حساب تمام محاسبات محصول توسط نرم‌افزار انجام شده و فقط قیمت نهایی توسط کاربر به مشتری اعلام می‌گردد.

                                                                    در چنین شرایطی دیگر نیاز به استخدام افراد متخصص برای محاسبات پیچیده و بخاطر داشتن اجرت محصولات نمی‌باشد و مدیر سیستم می‌تواند تنها با یک آموزش ساده نسبت به پرسنل از عملکرد آنها مطمئن باشد. همچنین با ایجاد سطح دسترسی‌ها می توان ضریب خطا را به میزان قابل توجهی کاهش داد و دسترسی کاربران برای تغییر پارامترهای مربوط به فروش مانند اجرت یا قیمت ملحقات را محدود کرد، حتی امکان رویت پارامترهای محاسباتی از سوی کاربر را گرفت.
                                                                </p>
                                                                <h4 class="mb10">خدمات همراه نرم‌افزار</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>سه جلسه آموزش رایگان</li>
                                                                    <li>یک سال پشتیبانی رایگان</li>
                                                                </ul>

                                                                <h4 class="mb10">ویژگی ها</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>دسترسی فروش سریع</li>
                                                                    <li>ویترین‌بندی اجناس</li>
                                                                    <li>انبارگردانی</li>
                                                                    <li>امکان فروش کالا با بارکد برای کاربر</li>
                                                                    <li>امکان ایجاد سطح دسترسی</li>
                                                                    <li>سهولت در تخفیف و رند کردن مبالغ</li>
                                                                    <li>گزارشات دقیق و کاربردی</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane fade px-3" id="tab12" role="tabpanel" aria-labelledby="tab2b">
                                                                <div class="rpb-item-review mt-5">
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">فروش سریع</h4>
                                                                            <p>
                                                                                در پنجره فروش سریع طراحی به گونه‌ای صورت گرفته که در فضای نمایش اطلاعات کالا امکان نمایش عکس کالا برای کاربر را فراهم کرده(اطلاعات کامل تر، واضح تر و راحت تر) و همچنین سبد کالایی برای مشتری ایجاد می‌کند که امکان اضافه یا کم کردن اقلام فروش در آن میسر باشد.

                                                                                در فروش سریع سندها بصورت اتوماتیک از سوی سیستم موقت گردیده و امکان بررسی مجدد سندها و ثبت نهایی آنها از سوی مدیر سیستم امکان پذیر می‌گردد.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">ایجاد ویترین</h4>
                                                                            <p>
                                                                                یکی از ویژگی نرم‌افزار فروشگاهی، امکان ایجاد ویترین‌های مختلف در فروشگاه می‌باشد که این امر کاربر را برای انبارگردانی بسیار کمک نموده به نحوی که اپراتور امکان تفکیک و مدیریت انبارگردانی را داشته و دیگر نیاز به اختصاص زمان زیاد برای انبارگردانی کلی نمی‌باشد.


                                                                                در زمان فروش نیز کالای فروخته شده به صورت اتوماتیک از ویترین مربوط به خودش کسر گردیده و موجودی ویترین‌ها بروز می‌گردد.

                                                                                انتصاب کالا بین ویترین‌ها بصورت نامحدود بوده و با اختصاص شماره ثبت اتوماتیک از سوی سیستم برای هر فاکتور امکان رهگیری کالا ها با اعمال فیلتر‌های مربوطه امکان پذیر خواهد بود.

                                                                                همچنین برای جلوگیری از خواب سرمایه قابلیت شاخص طول عمر در ویترین‌ها دیده شده که امکان بررسی گردش کالا در هر ویترین را به مدیر سیستم داده تا قابلیت تصمیم گیری داشته باشد.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">ایجاد مشتری</h4>
                                                                            <p>
                                                                                از طرفی برای ایجاد مشتری جدید نیاز به پیمودن مسیر طولانی ثبت اشخاص نمی باشد و کاربر این امکان را دارد تا با پنجره ای در دسترس، تمام اطلاعات مورد نیاز مربوط به مشتری اعم از نام و شماره تماس و حتی تاریخ تولد را به سهولت ثبت نماید.
                                                                                ویترین های مختلف قابلیت فعال سازی یا غیر فعال سازی داشته و انتصاب کالا بین ویترین های مختلف به راحتی صورت می پذیرد
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab13" role="tabpanel" aria-labelledby="tab13c">
                                                                <div class="rpb-itm-support-txt pr25">
                                                                    <h4 class="mt30 mb10">حداقل سیستم مورد نیاز برای نصب برنامه با مشخصات زیر می باشد:</h4>
                                                                    <ul class="ul-list mb30 mr25">
                                                                        <li>Cpu : core i3 6th gen</li>
                                                                        <li>Ram: 8 gig</li>
                                                                        <li>HDD : SSD 256gb</li>
                                                                        <li>Windows: Windows 10 enterprise</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--End 1-->
                            <!--Start 2-->
                            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                <section class="shop-products-prvw pb60">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 dir-rtl">
                                                <div class="rpb-item-info">
                                                    <div class="tab-17 tabs-layout">
                                                        <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="tab21a" data-bs-toggle="tab" href="#tab21" role="tab" aria-controls="tab21" aria-selected="true">توضیحات</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab22b" data-bs-toggle="tab" href="#tab22" role="tab" aria-controls="tab22" aria-selected="false">نگاهی دقیق</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab23c" data-bs-toggle="tab" href="#tab23" role="tab" aria-controls="tab23" aria-selected="false">سیستم مورد نیاز</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="myTabContent2">
                                                            <div class="mt40 tab-pane fade show active px-3" id="tab21" role="tabpanel" aria-labelledby="tab21a">

                                                                <h4 class="mb10">توضیحات</h4>
                                                                <p class="mb30 text-justify">
                                                                    ویژگی‌ای که عملکرد کاربر در حسابداری طلا که دنیایی متفاوت از حسابداری کالاهای دیگر دارد این است که با در اختیار داشتن مانده حساب مشتری به تفکیک جنسی، ریالی و سکه ای است که از دیرباز برای فعالین این عرصه از اهمیت بسیاری برخوردار بوده‌است.

                                                                    طبق این قابلیت کاربر می‌تواند سندهایی از قبیل خرید/فروش سکه، ارز، طلا و اجناس دیگر را ثبت کرده و حساب مشتری خود را تا زمان تسویه به صورت جنسی و پولی نگه دارد و دیگر نوسان مظنه مشکل‌ساز نخواهد بود.

                                                                    همچنین تمام تراکنش‌های بانکی را در سیستم ثبت نموده و از صحت موجودی و گردش حساب بانک خود مطمئن شوند.
                                                                </p>
                                                                <h4 class="mb10">خدمات همراه نرم‌افزار</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>سه جلسه آموزش رایگان</li>
                                                                    <li>یک سال پشتیبانی رایگان</li>
                                                                </ul>
                                                                <h4 class="mb10">ویژگی‌ها</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>اتصال مستقیم به ترازو</li>
                                                                    <li>اتصال وبکم برای تصویر‌برداری </li>
                                                                    <li>دسترسی لحظه‌ای به تراز دارایی و تراز کامل</li>
                                                                    <li>امکان ایجاد سطح دسترسی</li>
                                                                    <li>گزارشات دقیق و کاربردی</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane fade px-3" id="tab22" role="tabpanel" aria-labelledby="tab22b">
                                                                <div class="rpb-item-review mt-5">
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">اسناد دریافتی و پرداختی</h4>
                                                                            <p>
                                                                                دغدغه ثبت اسناد پرداختنی و دریافتنی وجود ندارد چرا که در آیتم چک کاربر می تواند تمام اسناد دریافتنی از طرف حساب خود را در سیستم ثبت نموده، در زمان سر رسید چک از طرف نرم‌افزار یادآوری صورت گرفته و کاربر می‌تواند از طریق استفاده از گزینه هایی از قبیل درجریان وصول، عودت داده شده یا پاس شده وضعیت چک خود را انتخاب کند و این عملیات مستقیم در بانک تعریف شده در نرم‌افزار اعمال می‌گردد.
                                                                                این موضوع در مورد چک‌های پرداختنی نیز صادق است و کاربر دیگر نگران فراموشی زمان سر رسید چک نخواهد‌ بود، زیرا نرم‌افزار چک‌های در جریان را یادآوری کرده و کاربر می‌تواند ضمن انتخاب گزینه‌های وضعیت چک عملیات انجام شده بر روی چک را در نرم‌افزار نیز پیاده‌سازی نماید.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">گزارش گیری</h4>
                                                                            <p>
                                                                                گزارش گیری از بخش‌های مختلف سیستم اعم از موجودی صندوق‌ها، ته‌حساب‌ها، مانده‌حساب‌ها، تراکنش‌های روزانه که در دفتر روزنامه قابل رویت می‌باشد، با طراحی جدول مختص به خود کاربر بنا به نیاز وی از آن گزارش، قابل دسترس و امکان گرفتن خروجی به صورت اکسل یا پی‌دی‌اف برای کاربر فراهم می‌باشد.
                                                                                گزارش‌گیری از چک‌ها نیز به سهولت امکان‌پذیر بوده و اپراتور قادر خواهد بود با اعمال فیلترهای مربوطه، از گزارش چک‌ها در بازه زمانی مورد نیاز پرینت گرفته و خروجی اکسل یا پی‌دی‌اف تهیه نماید.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">مانده حساب</h4>
                                                                            <p>
                                                                                با توجه به اهمیت آگاهی نسبت به مانده حساب اشخاص در قالب حساب طلایی، ارزی و سکه‌ای کاربر می‌تواند مانده حساب طرف حساب خود را به تفکیک حساب ریالی، جنسی، سکه‌ای و همچنین ارزی مشاهده نماید.

                                                                                این مانده‌حساب‌ها به تفکیک نیز در انتهای فاکتور مشتری قابل رویت بوده و مدیر سیستم می‌تواند با شخصی‌سازی طراحی چاپ فاکتور موارد مورد نیاز بیشتری را نیز به فاکتور اضافه نماید.

                                                                                از دیگر قابلیت ‌هایی که در نرم‌افزار پایه در اختیار اپراتور قرار می‌گیرد دسترسی لحظه ای به تراز دارایی و تراز کامل بوده که مدیر سیستم می‌تواند از عملکرد مجموعه و تغییر تراز دارایی خود به لحظه آگاه باشد.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">دسترسی</h4>
                                                                            <p>
                                                                                همچنین برای عدم دسترسی تمام کاربران سیستم به اطلاعات غیر ضروری با ایجاد سطح دسترسی می‌توان فعالیت کاربران را متناسب با حیطه کاری مربوطه محدود کرد و اجازه حذف و ویرایش فاکتور را از کاربران گرفت و با رهگیری نام کاربر در هر سند، شخص ثبت کننده سند را شناسایی کرد.

                                                                                از دیگر مواردی که در نرم‌افزار پایه در اختیار اپراتور قرار می گیرد شبکه شدن سیستم های مجموعه به صورت یکپارچه است که از این طریق مدیر سیستم می‌تواند با تهیه یک قفل تمام سیستم‌های مجموعه را به یکدیگر متصل کند.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab23" role="tabpanel" aria-labelledby="tab23c">
                                                                <div class="rpb-itm-support-txt pr25">
                                                                    <h4 class="mt30 mb10">حداقل سیستم مورد نیاز برای نصب برنامه با مشخصات زیر می باشد:</h4>
                                                                    <ul class="ul-list mb30 mr25">
                                                                        <li>Cpu : core i3 6th gen</li>
                                                                        <li>Ram: 8 gig</li>
                                                                        <li>HDD : SSD 256gb</li>
                                                                        <li>Windows: Windows 10 enterprise</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--End 2-->
                            <!--Start 3-->
                            <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                                <section class="shop-products-prvw pb60">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 dir-rtl">
                                                <div class="rpb-item-info">
                                                    <div class="tab-17 tabs-layout">
                                                        <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="tab31a" data-bs-toggle="tab" href="#tab31" role="tab" aria-controls="tab31" aria-selected="true">توضیحات</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab32b" data-bs-toggle="tab" href="#tab32" role="tab" aria-controls="tab32" aria-selected="false">نگاهی دقیق</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab33c" data-bs-toggle="tab" href="#tab33" role="tab" aria-controls="tab33" aria-selected="false">سیستم مورد نیاز</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="myTabContent2">
                                                            <div class="mt40 tab-pane fade show active px-3" id="tab31" role="tabpanel" aria-labelledby="tab31a">

                                                                <h4 class="mb10">توضیحات</h4>
                                                                <p class="mb30 text-justify">
                                                                    شاپ کنترل در واقع پوسته‌ای است که بر روی مارکیز پایه نصب می گردد. این محیط با تلفیق 3 ویژگی صدور سند، ریز‌حساب مشتری و آمار کسری با در اختیار قرار دادن آنها به اپراتور در یک پنجره گردش کار کارگاهی را آسان می نماید.
                                                                </p>
                                                                <h4 class="mb10">خدمات همراه نرم‌افزار</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>سه جلسه آموزش رایگان</li>
                                                                    <li>یک سال پشتیبانی رایگان</li>
                                                                </ul>
                                                                <h4 class="mb10">ویژگی‌ها</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>صدور سند</li>
                                                                    <li>ریز حساب مشتری </li>
                                                                    <li>آمار کسری</li>
                                                                    <li>عکس اتوماتیک</li>
                                                                    <li>گزارشات دقیق و کاربردی</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane fade px-3" id="tab32" role="tabpanel" aria-labelledby="tab32b">
                                                                <div class="rpb-item-review mt-5">
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">اندازه گیری</h4>
                                                                            <p>
                                                                                ویژگی‌هایی که مختص به کارخانه است مانند وزن با سینی، وزن سینی و در نهایت وزن خالص کار نیم ساخته به راحتی در اختیار کاربر بوده و همچنین امکان گرفتن عکس اتوماتیک در هر تراکنش محیا می‌باشد. در هنگام صدور سند کاربر می‌تواند با چاپ یک فیش پرینت، سندی را در اختیار واحدهای خود قرار دهد که امکان ایجاد خطا به حداقل ممکن برسد.
                                                                                همچنین در هر تراکنش کدی تولید می‌گردد که می‌توان از همان کد در تراکنش های بعدی بهره گرفت.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">گزارش گیری</h4>
                                                                            <p>
                                                                                در مجموع در نرم‌افزار شاپ کنترل کاربر تمام سندهای مربوط به یک روز را با 3 شکل مختلف بنا به نیاز، به صورت یکجا دیده و کسر هر واحد برای وی محاسبه می‌گردد و امکان بررسی میزان کسری منطقی از سوی مدیر سیستم محیا است.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab33" role="tabpanel" aria-labelledby="tab33c">
                                                                <div class="rpb-itm-support-txt pr25">
                                                                    <h4 class="mt30 mb10">حداقل سیستم مورد نیاز برای نصب برنامه با مشخصات زیر می‌باشد:</h4>
                                                                    <ul class="ul-list mb30 mr25">
                                                                        <li>Cpu : core i3 6th gen</li>
                                                                        <li>Ram: 8 gig</li>
                                                                        <li>HDD : SSD 256gb</li>
                                                                        <li>Windows: Windows 10 enterprise</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--End 3-->
                            <!--Start 4-->
                            <div class="tab-pane fade" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
                                <section class="shop-products-prvw pb60">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 dir-rtl">
                                                <div class="rpb-item-info">
                                                    <div class="tab-17 tabs-layout">
                                                        <ul class="nav nav-tabs" id="myTab1" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="tab41a" data-bs-toggle="tab" href="#tab41" role="tab" aria-controls="tab41" aria-selected="true">توضیحات</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab42b" data-bs-toggle="tab" href="#tab42" role="tab" aria-controls="tab42" aria-selected="false">نگاهی دقیق</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="tab43c" data-bs-toggle="tab" href="#tab43" role="tab" aria-controls="tab43" aria-selected="false">سیستم مورد نیاز</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="myTabContent2">
                                                            <div class="mt40 tab-pane fade show active px-3" id="tab41" role="tabpanel" aria-labelledby="tab41a">

                                                                <h4 class="mb10">توضیحات</h4>
                                                                <p class="mb30 text-justify">
                                                                    همان طور که از نام نرم‌افزار پیداست زمانی که شما نیاز دارید چندین برنامه مارکیز کاملا مجزا را کنترل کنید، می‌توانید سرور مارکیز را خریداری کنید. ب استفاده از سرور مارکیز شما می توانید چنید کلاینت کاملا مجزا تحت نظارت این سرور داشته باشید.
                                                                    این کلاینت‌ها هر یک دارای دیتابیس‌های کاملا مجزا خواهند بود و شما با استفاده از سرور به تمامی این داده‌ها دسترسی خواهید داشت. از طرفی این کنترل می‌تواند از راه دور باشد به‌طور مثل دفتر مرکزی شما در تهران قرار دارد و شعب فروش شما در شهرهای دیگر، چرا که این سرور تحت وب عمل می‌کند.
                                                                </p>
                                                                <h4 class="mb10">خدمات همراه نرم‌افزار</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>سه جلسه آموزش رایگان</li>
                                                                    <li>یک سال پشتیبانی رایگان</li>
                                                                </ul>
                                                                <h4 class="mb10">ویژگی ها</h4>
                                                                <ul class="ul-list mb30 mr25">
                                                                    <li>نظارت بر دیتابیس کلاینت‌ها</li>
                                                                    <li>کنترل از راه دور </li>
                                                                    <li>افزودن تعداد نا‌محدود کلاینت</li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane fade px-3" id="tab42" role="tabpanel" aria-labelledby="tab42b">
                                                                <div class="rpb-item-review mt-5">
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">افزودن نامحدود کلاینت</h4>
                                                                            <p>
                                                                                شما می‌توانید با مطالعه بخش <span>مارمیز کلاینت وب</span> شرایط افزودن کلاینت برای سرور خود را مطلعه کنید.
                                                                                شما می‌توانید با خریداری یک سرور تعداد نامحدود کلاینت را اضافه کرده، بدون اینکه نیاز به خریداری سرور جدید باشد.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reviews-card">
                                                                        <div class="review-text pt0 pb20">
                                                                            <h4 class="mb10">بارکد مرکزی</h4>
                                                                            <p>
                                                                                شما می‌توانید به صورت یکپارچه آیتم‌ها را تعریف کرده و به راحتی در اختیار هر یک از کلاینت ها قرار دهید. که این امر سبب یکپارچگی سیستم و گزارشات دقیق تر می‌شود.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab43" role="tabpanel" aria-labelledby="tab43c">
                                                                <div class="rpb-itm-support-txt pr25">
                                                                    <h4 class="mt30 mb10">حداقل سیستم مورد نیاز برای نصب برنامه با مشخصات زیر می‌باشد:</h4>
                                                                    <ul class="ul-list mb30 mr25">
                                                                        <li>Cpu : core i3 6th gen</li>
                                                                        <li>Ram: 8 gig</li>
                                                                        <li>HDD : SSD 256gb</li>
                                                                        <li>Windows: Windows 10 enterprise</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--End 4-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






