<!--Start About-->
<section class="softwate-sec-app pt140 pb60">
    <div class="overlay-feature"></div>
    <div class="container content-software">
        <div class="row justify-content-center pt50 pb40">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>نرم‌افزارها</span>
                    <h3>دانلود نرم‌افزارهای جانبی</h3>
                </div>
            </div>
        </div>
        <div class="funfact">
            <div class="row row-cols-lg-5 row-cols-md-2 row-cols-sm-1 row-cols-1 d-flex dir-rtl">
                <div class="col">
                    <div class="funfct-soft srcl1 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/dorsan-desk.jpg" alt="anydesk">
                        <span class="services-cuntr">Dorsan Desk</span>
                        <a href="https://dorsandesk.ir/dorsandesk-download/" target="_blank" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl1 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/anydesk1.jpg" alt="anydesk">
                        <span class="services-cuntr">Any Desk</span>
                        <a href="https://soft98.ir/internet/remote-control/15737-anydesk-download.html" target="_blank" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl2 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/font.jpg" alt="font">
                        <span class="services-cuntr">Font</span>
                        <a target="_blank" href="https://soft98.ir/graphic/font/14282-Font-Collection-Farsi.html)" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl3 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/freedesk.jpg" alt="freedesk">
                        <span class="services-cuntr">Free Desk</span>
                        <a target="_blank" href="https://freedesk.ir/" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl4 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/Microsoft-.NET-Framework1.png" alt=".NET-Framework1">
                        <span class="services-cuntr">.Net Framework</span>
                        <a target="_blank" href="https://soft98.ir/software/209-net-framework-dl.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl5 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/Notepad.jpg" alt="Notepad">
                        <span class="services-cuntr">Notepad</span>
                        <a target="_blank" href="https://soft98.ir/software/office/365-notepad-plus.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl6 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/office2013.jpg" alt="office2013">
                        <span class="services-cuntr">Office 2013</span>
                        <a target="_blank" href="https://soft98.ir/software/office/11741-%D8%AF%D8%A7%D9%86%D9%80%D9%84%D9%80%D9%88%D8%AF-%D8%A2%D9%81%D9%80%DB%8C%D8%B3-2013.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl7 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/office2016.jpg" alt="office2016">
                        <span class="services-cuntr">Office 2016</span>
                        <a target="_blank" href="https://soft98.ir/software/office/17841-4-%D8%AF%D8%A7%D9%86%D9%84%D9%88%E2%80%8C%E2%80%8C%E2%80%8C%E2%80%8C%D8%AF-%D8%A2%D9%81%DB%8C%D8%B3.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl8 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/office2019.jpg" alt="office2019">
                        <span class="services-cuntr">Office 2019</span>
                        <a target="_blank" href="https://soft98.ir/software/office/362-1-%D8%AF%D8%A7%D9%86%D9%84%D9%88%D8%AF-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1-%D8%A2%D9%81%DB%8C%D8%B3.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl1 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/pdf1.png" alt="pdf">
                        <span class="services-cuntr">PDF</span>
                        <a target="_blank" href="https://soft98.ir/software/pdf/338-adobe-reader-dc-download.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl2 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/rar1.jpg" alt="rar">
                        <span class="services-cuntr">WinRAR</span>
                        <a target="_blank" href="https://soft98.ir/software/compress/21-winrar-full.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl3 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/Sentinel.jpg" alt="Sentinel">
                        <span class="services-cuntr">Sentiel</span>
                        <a target="_blank" href="https://soft98.ir/software/optimization/632-hard-disk-sentinel-pro.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl4 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/setting-marquise.jpg" alt="setting-marquise">
                        <span class="services-cuntr">Marquise Setting</span>
                        <a target="_blank" href="@Url.RouteUrl("BlogDetail")" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl5 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/sql-management-14.0.jpg" alt="sql-management-14.0">
                        <span class="services-cuntr">Sql Management 14.0</span>
                        <a target="_blank" href="https://soft98.ir/software/programming/3594-%D9%85%D8%A7%DB%8C%DA%A9%D8%B1%D9%88%D8%B3%D8%A7%D9%81%D9%80%D8%AA-%D8%A7%D8%B3-%DA%A9%DB%8C%D9%88-%D8%A7%D9%84-%D8%B3%D8%B1%D9%88%D8%B1.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl6 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/sql-management-18.12.1.jpg" alt="sql-management-18.12.1">
                        <span class="services-cuntr">Sql Management 18.12.1</span>
                        <a target="_blank" href="https://soft98.ir/software/programming/3594-%D9%85%D8%A7%DB%8C%DA%A9%D8%B1%D9%88%D8%B3%D8%A7%D9%81%D9%80%D8%AA-%D8%A7%D8%B3-%DA%A9%DB%8C%D9%88-%D8%A7%D9%84-%D8%B3%D8%B1%D9%88%D8%B1.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl7 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/sql2008R2.jpg" alt="sql2008R2">
                        <span class="services-cuntr">Sql 2008R2</span>
                        <a target="_blank" href="https://soft98.ir/software/programming/3594-%D9%85%D8%A7%DB%8C%DA%A9%D8%B1%D9%88%D8%B3%D8%A7%D9%81%D9%80%D8%AA-%D8%A7%D8%B3-%DA%A9%DB%8C%D9%88-%D8%A7%D9%84-%D8%B3%D8%B1%D9%88%D8%B1.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl8 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/sql2017.jpg" alt="sql2017">
                        <span class="services-cuntr">Sql 2017</span>
                        <a target="_blank" href="https://soft98.ir/software/programming/3594-%D9%85%D8%A7%DB%8C%DA%A9%D8%B1%D9%88%D8%B3%D8%A7%D9%81%D9%80%D8%AA-%D8%A7%D8%B3-%DA%A9%DB%8C%D9%88-%D8%A7%D9%84-%D8%B3%D8%B1%D9%88%D8%B1.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
                <div class="col">
                    <div class="funfct-soft srcl1 d-flex flex-column link-hover">
                        <img src="~/Content/Images/otherSoftware/sql2019.jpg" alt="sql2019">
                        <span class="services-cuntr">Sql 2019</span>
                        <a target="_blank" href="https://soft98.ir/software/programming/3594-%D9%85%D8%A7%DB%8C%DA%A9%D8%B1%D9%88%D8%B3%D8%A7%D9%81%D9%80%D8%AA-%D8%A7%D8%B3-%DA%A9%DB%8C%D9%88-%D8%A7%D9%84-%D8%B3%D8%B1%D9%88%D8%B1.html" class="flex-row">دانلود<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About-->