<section class="block-a1 pad-tb dir-rtl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>مکمل‌ها</span>
                    <h3>دسترسی بیشتر با افزونه های مارکیز</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin1.png" alt="ارز و سکه" />
                        <h2>ارز و سکه</h2>
                        <span class="title"> 13.000.000 تومان</span>
                        <div class="details dir-center">
                            این افزونه برای کاربرانی است که پیش از این نرم‌افزار پایه مارکیز را خریداری کردند و در حال حاضر تمایل دارند در زمینه خرید و فروش سکه (انواع مختلف سکه با تمام وزن های موجود) فعالیت کنند.
                            از طرفی این افزونه امکان کار با ارز های مختلف را نیز فراهم می‌کند.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 bg-gradient4-top align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin2.png" alt="بارخانه" />
                        <h2>بارخانه</h2>
                        <span class="title"> 18.000.000 تومان</span>
                        <div class="details dir-center">
                            اجازه کنترل بارخانه‌های مختلف را به اپراتور می‌دهد به گونه‌ای که مشخص باشد هر بارخانه در چه زمانی و از چه شخصی با چه قیمتی خریداری‌شده و یا فروخته‌شده.

                            موجودی بارخانه قابل رهگیری و کنترل بوده و در تراز محاسبه می‌گردد.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin3.png" alt="سرویس اعتباری اسنپ" />
                        <h2>سرویس اعتباری اسنپ</h2>
                        <span class="title"> 5.200.000 تومان</span>
                        <div class="details dir-center">
                            با توجه به افزایش درخواست خرید طلا و جواهر و ثبت سیستمی آن از طریق سرویس اعتباری اسنپ، مارکیز این قابلیت را فراهم‌آورده‌است تا طلافروشان بتوانند با استفاده از این افزونه به راحتی اقلام خود را ادر این سرویس ارائه‌دهند.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 align-items-center d-flex justify-content-center bg-gradient4-top">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin4.png" alt="مظنه آنلاین" />
                        <h2>مظنه آنلاین</h2>
                        <span class="title">2.800.000 تومان</span>
                        <div class="details dir-center">
                            برخی از سایت ها در حال حاضرامکان دسترسی به مظنه آنلاین طلا را فراهم کرده‌اند، با استفاده از این افزونه شما می‌توانید با استفاده از API ارائه‌شده توسط این سایت مظنه آنلاین را به‌طور مسقیم در برنامه خود داشته باشید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin5.png" alt="بارکد اتوماتیک" />
                        <h2>بارکد اتوماتیک</h2>
                        <span class="title">18.000.000 تومان</span>
                        <div class="details dir-center">
                            این افزونه برای کالاهایی که هم نام هستند و اجرت مشابه دارند کاربرد دارد به گونه‌ای که این امکان را به کاربر می‌دهد تا بعد از اضافه کردن سیستم نسبت به اطلاعات اولیه کارساخته، کالاهای بعدی را با خواندن وزن از روی ترازو و یا وارد کردن آن به صورت دستی با سرعت بارکد نماید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 align-items-center d-flex justify-content-center bg-gradient4-top">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin6.png" alt="مکمل جواهر" />
                        <h2>مکمل جواهر</h2>
                        <span class="title">28.000.000 تومان</span>
                        <div class="details dir-center">
                            در مکمل جواهر کاربر سیستم می تواند با ثبت اطلاعات دقیق مربوط به هر سنگ از جمله وزن سنگ، کد و تعداد سنگ به صورت نامحدود و فی مربوط به آن از یکسو و اطلاعات مربوط به پایه مانند وزن پایه، اجرت و قیمت آبکاری، قیمت مخراجی و غیره از سوی دیگر شناسنامه‌ای برای جواهر خود ایجاد کرده و به راحتی تراکنش های مربوط به آن را ثبت نماید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin7.png" alt="تولید جواهر" />
                        <h2>تولید جواهر</h2>
                        <span class="title">45.000.000 تومان</span>
                        <div class="details dir-center">
                            این بخش برای افرادی است که کارگاه تولید جواهر دارند. از طریق این ویژگی می‌تواند تمامی فرایند سیستمی لازم از تولید تا فروش جواهر را در سیستم ثبت و کنترل کنند.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 bg-gradient4-top align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin8.png" alt="زبان های خارجی" />
                        <h2>زبان های خارجی</h2>
                        <span class="title">40.000.000 تومان</span>
                        <div class="details dir-center">
                            این افزونه زبان‌های انگلیسی و عربی را نیز به نرم‌افزار شما اضافه می‌کند. با انتخاب هر یک از زبان‌ها تمام صفحات برنامه طبق زبان انتخاب شده تغییر خواهند کرد.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin9.png" alt="ارتباط با پایگاه داده" />
                        <h2>ارتباط با پایگاه داده</h2>
                        <span class="title">4.200.000 تومان</span>
                        <div class="details dir-center">
                            این ویژگی به شما این امکان را می دهد که از خارج از برنامه مارکیز نیز به اطلاعات پایگاه داده خود دسترسی (فقط خواندن اطلاعات) را داشته باشید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 align-items-center d-flex justify-content-center bg-gradient4-top">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin10.png" alt="شخصی سازی محصول" />
                        <h2>شخصی سازی محصول</h2>
                        <span class="title">8.300.000 تومان</span>
                        <div class="details dir-center">
                            با اضافه کردن این افزونه به نرم‌افزار خود می توانید ویژگی های جدیدی برای محصولات خود اضافه کنید.
                            به‌طور مثال ویژگی کشور سازنده را اضافه کنید و با نام کشورهای مورد نظر آن را مقداردهی کنید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin11.png" alt="مانیتور مشتری" />
                        <h2>مانیتور مشتری</h2>
                        <span class="title">12.000.000 تومان</span>
                        <div class="details dir-center">
                            با استفاده از این ویژگی شما می توانید یک مانیور برای مشتریان نصب کرده و در زمان فروش محصول مشتری بتواند مشخصات مورد نظر شما را همزمان با ثبت فاکتور ببیند.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 bg-gradient4-top align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin12.png" alt="کنترل شماره موبایل" />
                        <h2>کنترل شماره موبایل</h2>
                        <span class="title">1.800.000 تومان</span>
                        <div class="details dir-center">
                            با استفاده از این افزونه این امکان برای نرم‌افزار فراهم می‌شود که، در هنگام اضافه کردن مشتری جدید به‌طور کامل بررسی می‌کند که تمام مشتریان دارای شماره تماس باشند و پر کردن این فیلد الزامی باشد.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table mt60 align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin13.png" alt="تبادل مشتریان" />
                        <h2>تبادل مشتریان</h2>
                        <span class="title">4.650.000 تومان</span>
                        <div class="details dir-center">
                            با استفاده از این افزونه یک API در اختیار شما قرار می‌گیرد و شما می‌توانید با استفاده از این ویژگی از خارج از برنامه مارکیز به مشخصات مشتریان خود دسترسی داشته باشید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-table best-plan mt60 bg-gradient4-top align-items-center d-flex justify-content-center">
                    <div class="inner-table">
                        <img src="~/Content/Icons/plugin/plugin14.png" alt="پنل پیامکی قاصدک" />
                        <h2>پنل پیامکی قاصدک</h2>
                        <span class="title">1.300.000 تومان</span>
                        <div class="details dir-center">
                            با نصب پنل پیامکی پس از ثبت سند پیامکی با متن دلخواه شما به طور اتومات به شماره تماس ثبت شده از مشتری در سیستم ارسال می‌شود.
                            همچنین می‌توانید به طور اتومات برای مشتریان در روز تولدشان پیامی برای تبریک تولد ارسال کنید و همچنین در زمان فعال سازی تخفیف برای اطلاع رسانی پیام مرتبط را ارسال کنید.
                        </div>
                    </div>
                    <a href="tel:+982191307643" class="btn-main btn bg-btn5 lnk white-color mx-3">
                        <i class="fa-solid fa-phone-flip"></i>
                        تماس با پشتیبانی<span class="circle"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>