<section class="blog-page dir-rtl" id="category2">
    <div class="container-fluid">
        <div class="row">
            <div class="dir-rtl pt20">
                <div class="row d-flex justify-content-start">
                    <div class="col-lg-12">
                        <div class="email-subs-form p-3 title-border">
                            <h3>بازار طلا و قیمت گذاری</h3>
                        </div>
                    </div>
                </div>
                <div class="row pb100">
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".4s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform21">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog21.jpg" alt="اجرت طلا" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>اجرت طلا</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1402/07/03
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform21" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">اجرت طلا</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog21.jpg" alt="اجرت طلا" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>به هزینه‌ی ساخت طلا و دستمزد سازندگان طلا که روی قیمت نهایی طلا محاسبه می‌شود، کارمزد یا اجرت ساخت طلا می‌‌گویند. طلای آب‌شده بر خلاف مصنوعات و شمش، اجرت ندارد ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog21.pdf" class="flex-row" download="اجرت طلا.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".4s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform22">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog22.jpg" alt="اصطلاحات بازار طلا" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>اصطلاحات بازار طلا</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1402/06/19
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform22" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">اصطلاحات بازار طلا</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog22.jpg" alt="اصطلاحات بازار طلا" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>اصطلاحات و مفاهیم مربوط به طلا مانند: طلای آب‌شده، عیارسنجی، ری‌گیری طلا ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog22.pdf" class="flex-row" download="اصطلاحات بازار طلا.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".6s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform23">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog23.jpg" alt="شغل های وابسته" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>شغل های وابسته</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1402/07/03
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform23" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">شغل های وابسته</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog23.jpg" alt="شغل های وابسته" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>بنکداران طلا را به صورت عمده و در مقیاس‌های بزرگ از تولید‌کنندگان می‌خرند و آن را با قیمت پایین و با اجرت کم به خرده‌فروشان می‌فروشند ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog23.pdf" class="flex-row" download="شغل های وابسته.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".8s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform24">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog24.jpg" alt="بازار طلا در دهه اخیر" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>بازار طلا در دهه اخیر</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1403/04/31
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform24" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">بازار طلا در دهه اخیر</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog24.jpg" alt="بازار طلا در دهه اخیر" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>از نیمه دوم دهه نود، بازار طلا در ایران با نوسانات و اختلالات قیمتی شدیدی روبرو شد که تأثیرات قابل‌توجهی بر الگوهای خرید و فروش طلا گذاشت. این تحولات منجر به تغییرات مهمی در رفتار مصرف‌کنندگان و روندهای طراحی و تولید طلا و جواهر شد. ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog24.pdf" class="flex-row" download="بازار طلا در دهه اخیر.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay="1s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform25">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog25.jpg" alt="زیورآلات دهه ۸۰ و ۹۰ ایران" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>زیورآلات دهه ۸۰ و ۹۰ ایران</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1403/04/31
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform25" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">زیورآلات دهه ۸۰ و ۹۰ ایران</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog25.jpg" alt="زیورآلات دهه ۸۰ و ۹۰ ایران" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>از نیمه دوم دهه نود، بازار طلا در ایران با نوسانات و اختلالات قیمتی شدیدی روبرو شد که تأثیرات قابل‌توجهی بر الگوهای خرید و فروش طلا گذاشت. این تحولات منجر به تغییرات مهمی در رفتار مصرف‌کنندگان و روندهای طراحی و تولید طلا و جواهر شد ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog25.pdf" class="flex-row" download="زیورآلات دهه ۸۰ و ۹۰ ایران.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay="1.2s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform26">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog26.jpg" alt="زیورآلات دهه‌ ۴۰‌ و ۵۰‌ ایران" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>زیورآلات دهه‌ ۴۰‌ و ۵۰‌ ایران</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1403/04/09
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform26" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">زیورآلات دهه‌ ۴۰‌ و ۵۰‌ ایران</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog26.jpg" alt="زیورآلات دهه‌ ۴۰‌ و ۵۰‌ ایران" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>طبقه پایین جامعه معمولاً از زیورآلات طلا به مقدار کم استفاده می‌کردند. این گروه استفاده از طلا برای مردان را ناپسند می‌دانستند و تنها استفاده از زیورآلات برای زنان در حضور همسر را مجاز می‌شمردند. بنابراین، طراحان و سازندگان زیورآلات صرفاً برای زنان طراحی می‌کردند و مردان در این گروه جایی نداشتند ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog26.pdf" class="flex-row" download="زیورآلات دهه‌ ۴۰‌ و ۵۰‌ ایران.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay="1.4s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform27">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog2/blog27.jpg" alt="طلا در ایران" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>طلا در ایران</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1402/07/10
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform27" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h5 class="mt0 mb0">طلا در ایران</h5>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog2/blog27.jpg" alt="طلا در ایران" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>گیرشمن (Roman Ghirshman) در کتاب “ایران از آغاز تا اسلام” ذکر می‌کند که طلا در دوران مادها و در اطراف شهر همدان امروزی استخراج شده است. در کوه‌هایی که توسط قوم ماد برای سکونت انتخاب شده‌اند نیز مقدار زیادی از مس، آهن، طلا، نقره، سرب و زرنیخ یافت شده‌اند ...</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog2/blog27.pdf" class="flex-row" download="طلا در ایران.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

