<section class="blog-page dir-rtl" id="category4">
    <div class="container-fluid">
        <div class="row">
            <div class="dir-rtl pt20">
                <div class="row d-flex justify-content-start">
                    <div class="col-lg-12">
                        <div class="email-subs-form p-3 title-border">
                            <h3>سکه و سرمایه گذاری</h3>
                        </div>
                    </div>
                </div>
                <div class="row pb100">
                    <div class="col-lg-3 col-sm-6 single-card-item">
                        <div class="isotope_item m-lg-0 hover-scale wow fadeIn" data-wow-delay=".2s">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalform41">
                                <div class="item-image">
                                    <img src="~/Content/Blog/blog4/blog41.jpg" alt="blog" class="img-fluid" />
                                </div>
                                <div class="blog-info d-flex justify-content-center pt-2 pb-4">
                                    <h5>خرید و فروش سکه</h5>
                                </div>
                                <div class="entry-blog d-flex justify-content-between">
                                    <span><i class="fas fa-user"></i> توسط مارکیز</span>
                                    <span class="posted-on">
                                        <i class="fas fa-clock"></i> 1403/03/13
                                    </span>
                                </div>
                            </a>
                            <div class="popup-modals">
                                <div class="modal fade" id="modalform41" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="common-heading">
                                                    <h6 class="mt0 mb0">خرید و فروش سکه</h6>
                                                </div>
                                                <button type="button" class="closes pl5" data-bs-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="item-image-show d-flex justify-content-center">
                                                    <img src="~/Content/Blog/blog4/blog41.jpg" alt="blog" class="img-fluid" />
                                                </div>
                                                <div class="blog-info d-flex justify-content-center flex-column pt-5 pb-4">
                                                    <p>علاوه بر خرید و فروش سکه که به‌صورت حضوری و با عمده‌فروشی و تک‌فروشی صورت می‌گیرد، روش‌های دیگری نیز برای خرید و فروش سکه وجود دارد. این روش‌ها شامل پیش‌خرید یا پیش‌فروش سکه‌های طلا و همچنین خرید و فروش سکه‌های طلا در بازار پرریسک بورس می‌شود.</p>
                                                </div>
                                                <div class="office-text link-hover align-content-center d-flex justify-content-center">
                                                    <a href="~/Content/Blog.PDF/blog4/blog41.pdf" class="flex-row" download="خرید و فروش سکه.pdf">مطالعه کامل مقاله<i class="fas fa-chevron-left fa-icon mr15 pt-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

