
@{
    ViewBag.Title = "Index";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <!--Start Dashboard Content-->
        <div class="row">
            <div class="col-12">
                @Html.Partial("MainDetail")
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-lg-12">
               @Html.Partial("SupportTimeLine")
            </div>
        </div><!--End Row-->
        <!--End Dashboard Content-->
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->

</div><!--End content-wrapper-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
@section Scripts{
    <script src="~/areas/CRM/Scripts/CRM/Dashboard.js"></script>
    }