
<div class="card p-3">
    <div class="card-header">
        پشتیبانی فعال
    </div>
    <div>
        <div class="month-labels pt-4">
            <div class="month-label">فروردین</div>
            <div class="month-label">اردیبهشت</div>
            <div class="month-label">خرداد</div>
            <div class="month-label">تیر</div>
            <div class="month-label">مرداد</div>
            <div class="month-label">شهریور</div>
            <div class="month-label">مهر</div>
            <div class="month-label">آبان</div>
            <div class="month-label">آذر</div>
            <div class="month-label">دی</div>
            <div class="month-label">بهمن</div>
            <div class="month-label">اسفند</div>
        </div>

        <!-- نوار زمانی -->
        <div class="timeline" id="timeline"></div>
    </div>
</div>

